In [1]:
1.# Write a code to create a string with your name and print it?

string= "Soumi"
print(string)

Soumi

In [2]:
2.# Write a code to find the length of the string "Hello World"

string1= "Hello World"
len(string1)

11

In [3]:
3.# Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
string[0:3]

'Pyt'

In [7]:
4.# Write a code to convert the string "hello" to uppercase?

string ="hello"
string.upper()

'HELLO'

In [11]:
5.# Write a code to replace the word "apple" with "orange" in the string "I like apple"

str= "I like apple"
str=str.replace("apple","orange")
print(str)

I like orange

In [12]:
6.# Write a code to create a list with numbers 1 to 5 and print it?

list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [14]:
7.# Write a code to append the number 10 to the list [1, 2, 3, 4]?

numbers =[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [15]:
8.# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers =[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [16]:
9.# Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a', 'b', 'c', 'd']
list [2]

'c'

In [20]:
10.#Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [21]:
11.#Write a code to create a tuple with the elements 10, 20, 30 and print it.

tup = (10,20,30)
print(tup)

(10, 20, 30)

In [26]:
12.#Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').


fruits= ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [27]:
13.# Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

numbers = (1, 2, 3, 2, 4, 2)
numbers.count(2)

3

In [32]:
14.#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').



animal =('dog', 'cat', 'rabbit')

index_animal = animal.index('cat')
print(index_animal)

1

In [40]:
15.# Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').


fruits =('apple', 'orange', 'banana')

for fruit in fruits:

  if fruit == "banana":

    print("banana found")
    break
else:

  print("not there")

banana found

In [41]:
# Creating the tuple
fruits = ('apple', 'orange', 'banana')

# Checking if "banana" is in the tuple
is_banana_present = 'banana' in fruits

# Printing the result
print(is_banana_present)

True

In [42]:
#16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.


set ={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [44]:
#17.Write a code to add the element 6 to the set {1, 2, 3, 4}.

s ={1, 2, 3, 4}
s.add(6)
print(s)

{1, 2, 3, 4, 6}

In [45]:
#18.Write a code to create a tuple with the elements 10, 20, 30 and print it.


tup = (10,20,30)
print(tup)

(10, 20, 30)

In [47]:
#19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')


fruits =('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [48]:
#20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

tuple =(1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [51]:
#21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals =('dog', 'cat', 'rabbit')
index_animals = animals.index("cat")
print(index_animals)

1

In [52]:
#22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

fruits =('apple', 'orange', 'banana')
is_prsent = "banana" in fruits
print(is_prsent)

True

In [53]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.


set ={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [54]:
#24.Write a code to add the element 6 to the set {1, 2, 3, 4}.

set = {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}